/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
a{
  text-decoration: none;
  color: #f5c002;
}

body {
  background-color: transparent !important;
}



.skill-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-container {
  text-align: center;
  margin: 10px;
}

.skill-circle {
  position: relative;
  width: 80px;
  height: 80px; 
  border-radius: 50%;
  background-color: #ffe7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-icon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.skill-bar {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: salmon;
  border-radius: 0 0 5px 5px;
}

.skill-percentage {
  font-size: 12px;
  color: #FFF;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.skill-name {
  margin-top: 5px;
}
